{%  block head %}   
<title>Mild OSA</title> 
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

  
{% block content %}





    <header class="pt-0">
        <div class="container pt-2 pt-xl-3">
            <div class="row pt-5">
                <div class="col-md-10 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-5 fw-bold mb-3 text-info">Mild Obstructive Sleep Apnea</h1>
                        <ul>
                            <li class="fs-5 text-muted mb-3">AHI of 5 to 15 breathing interruptions per hour</li>
                            <li class="fs-5 text-muted mb-3">Snoring and/or breathing interruptions during sleep</li>
                            <li class="fs-5 text-muted mb-3">No significant decrease in oxygen levels in the blood</li>

                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </header>

    <div class="container pt-2 pt-xl-3">
        <div class="row pt-5">
            <div class="col-md-10 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-5 fw-bold mb-3 text-info">Treatments for Mild OSA</h1>
                    <ul>
                        <li class="fs-5 text-muted mb-3">Lifestyle changes such as weight loss, regular exercise, avoiding alcohol and sedatives, and sleeping on your side can help to reduce the symptoms of mild OSA.</li>
                        <li class="fs-5 text-muted mb-3">Using a mandibular advancement device (MAD) that can be custom-made by a dentist to help keep your airway open during sleep.</li>

                    </ul>
                    <img src="https://content.ca.healthwise.net/resources/13.3/en-ca/media/medical/hw/acl2759_460x300.jpg" alt="">
                </div>  
            </div>
        </div>
    </div>

    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.min.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/chat.js"></script>


    {% endblock %}