<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    </head>
    <body>
        <div id="data1" class="">
            <div class="container pt-2 pt-xl-3 ">
                <div class="row pt-5">
                    <div class="rrr col-md-10 text-center text-md-start mx-auto">
                        <h2 class="display-5 fw-semibold mb-3">OSA Severity Report</h2>
                        <br>
                        <h3 class="mb-3 text-warning">OSA Severity : Moderate Obstructive Sleep Apnea</h3>
                        <h3 class="mb-3 text-warning">Your AHI is between 15 to 30</h3>
                        <br>
                        <h3>Name : {{ output_data[0] }}</h3>

                        <ul>
                        <li class="fs-5 text mb-3">BQ : {{ output_data[1] }}</li>
                        <li class="fs-5 text- mb-3">ESS : {{ output_data[2] }}</li>
                        <li class="fs-5 text- mb-3">BMI : {{ output_data[3] }}</li>
                        <li class="fs-5 text- mb-3">Weight : {{ output_data[4] }}</li>
                        <li class="fs-5 text- mb-3">Height : {{ output_data[5] }}</li>
                        <li class="fs-5 text- mb-3">Head : {{ output_data[6] }}</li>
                        <li class="fs-5 text- mb-3">Neck : {{ output_data[7] }}</li>
                        <li class="fs-5 text- mb-3">Waist : {{ output_data[8] }}</li>
                        <li class="fs-5 text- mb-3">Buttock : {{ output_data[9] }}</li>
                        <li class="fs-5 text- mb-3">Age : {{ output_data[10] }}</li>
                        <li class="fs-5 text- mb-3">Gender : {{ output_data[11] }}</li>
                        </ul>
                        <br>

                        

                        <ul>
                            <h3>Symptoms</h3>
                            <li class="fs-5 mb-3">AHI of 15 to 30 breathing interruptions per hour</li>
                            <li class="fs-5 mb-3">Snoring and/or breathing interruptions during sleep</li>
                            <li class="fs-5 mb-3">Mild to moderate decrease in oxygen levels in the blood</li>
                            <li class="fs-5 mb-3">Possible daytime sleepiness and fatigue</li>


                        </ul>

                        <br>
                        <ul>
                            <h3>Treatments</h3>
                            <li class="fs-5 mb-3">Continuous positive airway pressure (CPAP) therapy is the most common treatment for moderate to severe OSA. It involves wearing a mask over your nose or mouth that delivers a continuous stream of air to keep your airway open while you sleep.</li>
                            <li class="fs-5 mb-3">Bi-level positive airway pressure (BiPAP) therapy is similar to CPAP but delivers different pressures for inhaling and exhaling.</li>   
                        </ul>
                    </div>  
                </div>
            </div>
        </div>

        

        <div class="col-md-10 mt-3 mb-3 text-success text-center text-md-start mx-auto">
        <div class="text-center">
        <button class="text-bg-success" onclick="printPDF()">Print Report as PDF</button>
        </div>
        </div>

        <script>
            function printPDF() {
                var doc = new jsPDF();
                var content = document.getElementById("data1").innerHTML;
                doc.fromHTML(content, 15, 15, {
                    'width': 170
                });
                doc.save("OSA_Report.pdf");
            }
        </script>
    </body>
</html>
