<html>
    <head>
       <title>Symptoms</title> 
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/index.css"> 
    </head>

    <body>
        


  


    <div class="topbar">

        <div class="topbarLeft">
            <h2 class="topbarHead">OSA Project</h2>
        </div>

        <div class="topbarCenter">
            <ul class="topbarList">
                <li class="topbarListItem"><a class="topbarListItem" href="valid">Predict OSA</a></li>
                <li class="topbarListItem"><a class="topbarListItem" href="treatments">Treatments</a></li>
            
            </ul>
        </div>
    </div>






    <div class="pt-0">
        <div class="container pt-2 pt-xl-3">
            <div class="row pt-5">
                <div class="col-md-10 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-5 fw- mb-3 text-success">No Obstructive Sleep Apnea</h1>
                        <ul>
                            <li class="fs-5 text-muted mb-3">AHI of less than 5 breathing interruptions per hour</li>
                            <li class="fs-5 text-muted mb-3">No significant snoring or breathing interruptions during sleep</li>
                            <li class="fs-5 text-muted mb-3">No significant decrease in oxygen levels in the blood</li>


                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="pt-0">
        <div class="container pt-2 pt-xl-3">
            <div class="row pt-5">
                <div class="col-md-10 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-5 fw- mb-3 text-info">Mild Obstructive Sleep Apnea</h1>
                        <ul>
                            <li class="fs-5 text-muted mb-3">AHI of 5 to 15 breathing interruptions per hour</li>
                            <li class="fs-5 text-muted mb-3">Snoring and/or breathing interruptions during sleep</li>
                            <li class="fs-5 text-muted mb-3">No significant decrease in oxygen levels in the blood</li>

                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="pt-0">
        <div class="container pt-2 pt-xl-3">
            <div class="row pt-5">
                <div class="col-md-10 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-5 fw- mb-3 text-warning">Moderate Obstructive Sleep Apnea</h1>
                        <ul>
                            <li class="fs-5 text-muted mb-3">AHI of 15 to 30 breathing interruptions per hour</li>
                            <li class="fs-5 text-muted mb-3">Snoring and/or breathing interruptions during sleep</li>
                            <li class="fs-5 text-muted mb-3">Mild to moderate decrease in oxygen levels in the blood</li>
                            <li class="fs-5 text-muted mb-3">Possible daytime sleepiness and fatigue</li>


                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="pt-0">
        <div class="container pt-2 pt-xl-3">
            <div class="row pt-5">
                <div class="col-md-10 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-5 fw- mb-3 text-danger">Severe Obstructive Sleep Apnea</h1>
                        <ul>
                            <li class="fs-5 text-muted mb-3">AHI of more than 30 breathing interruptions per hour</li>
                            <li class="fs-5 text-muted mb-3">Loud snoring and/or frequent breathing interruptions during sleep</li>
                            <li class="fs-5 text-muted mb-3">Significant decrease in oxygen levels in the blood</li>
                            <li class="fs-5 text-muted mb-3">Frequent daytime sleepiness and fatigue</li>
                            <li class="fs-5 text-muted mb-3">Increased risk for serious health complications such as high blood pressure, heart disease, and stroke</li>



                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.min.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/chat.js"></script>
</body>
</html>

